*.o
*.bin
*.la
*.lo

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
compile
config.log
config.status
config.guess
config.sub

*~
logs/*
solobtc/*

ext_deps
config.h.in
config.h

mkinstalldirs

*.swp
src/ckpool
src/ckpmsg
src/notifier
src/libckpool.a
test/sha256

src/jansson-2.14/jansson.pc
src/jansson-2.14/jansson_private_config.h
src/jansson-2.14/src/jansson_config.h
ltmain.sh

*.m4

.libs/

libtool

test-driver
